	<%# <%= image_tag "21-content_header_2.png", class: "parallax-content_header" %>
<a id="blog-scroll"></a>
<section id="blog" class="skin-secondary clearfix">
	<!--blog section Heading -->
	<%= image_tag "21-content_header_1.png", class: "parallax-content_header" %>
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="page-title">
				<h1 id="blog-shuffle-latter">Thoughts</h1>
				<p class="sub-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue neque, aliquet vitae sagittis sit amet, tincidunt nec augue.</p>
			</div>
		</div>
	</div>
	<!-- End of blog section Heading -->
	<!--blog section Description -->
	<div class="row">
		<div class="large-8 large-centered columns page-description">
			<p>
				Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates molestiae non recusandae. ebitis aut rerum necessitatibus saepe eveniet ut et voluptates molestiae non recusandae.
			</p>
		</div>
	</div>
	<!-- end of blog section Description -->
	<!--blog slider -->
	<div class="row pad-bottom blog-slider">
		<!-- Individual blog -->
		<div class="columns">
			<a href="#">
				<div class="rectangle">
          <div class="post-date date"><p>20. Dec. 2013</p></div>
          <div class="blog-circle-img"><%= image_tag "24-blog-img.jpg" %></div>
          <div class="blogpost-description">
            <h4>Good ideas are rare</h4>
            <p>Bower is a package manager for the web which offers a generic, unopinionated solution for the problem of front-end package management.</p>
          </div>
          <div class="plus-container">
            <div class="fonticon fonticon-plus"></div>
          </div>
        </div>
      </a>
    </div>
    <!-- End of Individual blog -->
    <!-- Individual blog -->
    <div class="columns">
      <a href="#">
        <div class="rectangle">
          <div class="post-date date"><p>20. Dec. 2013</p></div>
					<div class="blog-circle-img"><%= image_tag "23-blog-img.jpg" %></div>
					<div class="blogpost-description">
						<h4>serving customers well</h4>
						<p>bower is a package manager for the web which offers a generic, unopinionated solution for the problem of front-end package management.</p>
					</div>
					<div class="plus-container">
						<div class="fonticon fonticon-plus"></div>
					</div>
				</div>
			</a>
		</div>
		<!-- end of individual blog -->
		<!-- individual blog -->
		<div class="columns">
			<a href="#">
				<div class="rectangle">
					<div class="post-date date"><p>20. dec. 2013</p></div>
					<div class="blog-circle-img"><%= image_tag "24-blog-img.jpg" %></div>
					<div class="blogpost-description">
						<h4>Serving customers well</h4>
						<p>Bower is a package manager for the web which offers a generic, unopinionated solution for the problem of front-end package management.</p>
					</div>
					<div class="plus-container">
						<div class="fonticon fonticon-plus"></div>
					</div>
				</div>
			</a>
		</div>
		<!-- End of Individual blog -->
	</div>
	<!-- End of blog slider -->	
	<%= image_tag "21-content_footer_1.png", class: "parallax-content_footer" %>
</section>
