		<div id="clients" class="skin-secondary">
			<div class="row client-slider">
				<div class="client-logo">
					<%= image_tag "18-clientlogo.png", alt: "Client Logo" %>
				</div>			
				<div class="client-logo">
        <%= image_tag "19-clientlogo.png", alt: "Client Logo" %>
				</div>			
				<div class="client-logo">
					<%= image_tag "20-clientlogo.png", alt: "Client Logo" %>
				</div>			
				<div class="client-logo">
					<%= image_tag "19-clientlogo.png", alt: "Client Logo" %>
				</div>			<div class="client-logo">
					<%= image_tag "18-clientlogo.png", alt: "Client Logo" %>
				</div>			
				<div class="client-logo">
					<%= image_tag "20-clientlogo.png", alt: "Client Logo" %>
				</div>
			</div>
		</div>
