
<!--end of About section-->
<!-- gallery section-->
<div class="gallery skin-primary">
		<ul class="images-container" style="display: block;">
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto"  class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img1.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate1">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img2.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate2">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img3.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate3">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img4.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate4">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img5.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate5">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img6.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate6">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img3.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate7">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img2.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate8">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img4.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate9">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img1.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate10">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img3.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate11">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img4.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate12">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img5.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate13">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img6.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate14">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img2.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate15">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img1.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate16">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img5.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate17">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img3.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate18">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img1.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate19">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img2.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate20">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img3.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate21">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img5.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate22">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img3.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate23">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img6.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate24">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img2.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate25">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img3.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate26">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img4.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate27">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img6.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate28">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img5.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate29">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
			<li>
				<a href="img/gallery-fullscreen/04-gallery-img-fullscreen.jpg" data-rel="prettyPhoto" class="image-link"><%= image_tag "gallery-thumbnails/03-gallery-img1.jpg" %></a>
				<a href="#" class="text-link">
					<h6 class="title-large gallery-text-rotate30">Shaping Vision, We love what we do</h6>
					<h6 class="title-small">Shaping Vision</h6>
				</a>
			</li>
		</ul>
	</div>
<!-- End gallery section-->
