<a id="skill-scroll"></a>
<section id="skill" class="skin-secondary clearfix">
	<%# <%= image_tag "21-content_header_1.png", class: "parallax-content_header" %>
	<!--skill section Heading -->
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="page-title">
				<h1 id="team-shuffle-latter">My Skills</h1>
				<p class="sub-header">multidisciplinary, strategists & creative coders.</p>
			</div>
		</div>
	</div>	
	<!-- End skill section Heading -->
	<!-- section Description -->
	<div class="row">
		<div class="large-8 large-centered columns page-description ">
			<p>
				Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates molestiae non recusandae. Debitis aut rerum necessitatibus saepe eveniet ut et voluptates molestiae non recusandae.
			</p>
		</div>
	</div>
	<!-- End of section Description -->
	<div class="row pad-bottom">
		<!--skill Slider -->
		<div class="team-slider">
		   <div class="skill-block">	
				<!-- skill Front section -->
				<%= image_tag "05-skill-01.png" %>
				<h4 class="my-skill-title">Photoshop</h4>
				
				<!-- End skill Front section -->
				<!-- skill hover section -->
				<div class="skill-hover">
					<h4 class="my-skill-title">Photoshop</h4>
					<div class="pieChart" data-bar-width="80" data-percent="80">
						<span>80%</span>
					</div>
					<p class="my-skill-text">Habitasse pulvinar elit tristique eleum auctor placerat sit ut acu uctor. Porttitor eetas sceleque!</p>
				</div>
				<!-- End skill hover section -->
			</div>
			<div class="skill-block">
				<!-- skill Front section -->
				<%= image_tag "05-skill-02.png" %>
				<h4 class="my-skill-title">Wordpress</h4>
				
				<!-- End skill Front section -->
				<!-- skill hover section -->
				<div class="skill-hover">
					<h4 class="my-skill-title">Wordpress</h4>
					<div class="pieChart" data-bar-width="80" data-percent="75">
						<span>75%</span>
					</div>
					 <p class="my-skill-text">Habitasse pulvinar elit tristique eleum auctor placerat sit ut acu uctor. Porttitor eetas sceleque!</p>
					 
				</div>
				<!-- End skill hover section -->
			</div>			
			<div class="skill-block">
				<!-- skill Front section -->
				<%= image_tag "05-skill-03.png" %>
				<h4 class="my-skill-title">HTML5/CSS3</h4>
				
				<!-- End skill Front section -->
				<!-- skill hover section -->
				<div class="skill-hover">
					<h4 class="my-skill-title">HTML5/CSS3</h4>
					<div class="pieChart" data-bar-width="75" data-percent="88">
						<span>88%</span>
					</div>
					 <p class="my-skill-text">Habitasse pulvinar elit tristique eleum auctor placerat sit ut acu uctor. Porttitor eetas sceleque!</p>
				</div>
				<!-- End skill hover section -->
			</div>	
			 <div class="skill-block">
				<!-- skill Front section -->
				<%= image_tag "05-skill-04.png" %>
				<h4 class="my-skill-title">jQuery</h4>
				  
				<!-- End skill Front section -->
				<!-- skill hover section -->
				<div class="skill-hover">
					<h4 class="my-skill-title">jQuery</h4>
				<div class="pieChart" data-bar-width="75" data-percent="70">
						<span>70%</span>
					</div>   
					 <p class="my-skill-text">Habitasse pulvinar elit tristique eleum auctor placerat sit ut acu uctor. Porttitor eetas sceleque!</p>
				</div>
				<!-- End skill hover section -->
			</div>	
			<div class="skill-block">
				<!-- skill Front section -->
				<%= image_tag "05-skill-02.png" %>
				<h4 class="my-skill-title">Wordpress</h4>
				
				<!-- End skill Front section -->
				<!-- skill hover section -->
				<div class="skill-hover">
					<h4 class="my-skill-title">Wordpress</h4>
				<div class="pieChart" data-bar-width="75" data-percent="90">
						<span>90%</span>
					</div>   
					
					 <p class="my-skill-text">Habitasse pulvinar elit tristique eleum auctor placerat sit ut acu uctor. Porttitor eetas sceleque!</p>
				</div>
				<!-- End skill hover section -->
			</div>	                
		</div>
		<!-- End skill Slider -->
	</div>
	<!-- join the team Heading-->
	<div class="row pad-top">
		<div class="large-12 columns text-center">
			<div class="page-title">
				<h2>Characteristics</h2>
				<p class="sub-header"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam laboris. </p>
			</div>
		</div>
	</div>
	<div class="row pad-top">
		<div class="large-8 large-centered columns text-center">
			<ul class="careers-links">				
				<li>
					<div class="pieChart" data-bar-width="80" data-percent="100">
						<a title="">
							<span class="careers-circle large">
								<i class="fa fa-heart"></i>
							</span>
						</a>
					</div>
					<h6>Passionate</h6>
				</li>
				<li>
					<div class="pieChart" data-bar-width="80" data-percent="85">
						<a title="">
							<span class="careers-circle large">
								<i class="fa fa-suitcase"></i>
							</span>
						</a>
					</div>
					<h6>Skilled</h6>
				</li>
				<li>
					<div class="pieChart" data-bar-width="80" data-percent="82">
						<a title="">
							<span class="careers-circle large">
								<i class="fa fa-users"></i>
							</span>
						</a>
					</div>
					<h6>Team player</h6>
				</li>
				<li>
					<div class="pieChart" data-bar-width="80" data-percent="75">
						<a title="">
							<span class="careers-circle large">
								<i class="fa fa-meh-o"></i>
							</span>
						</a>
					</div>
					<h6>Fun person</h6>
				</li>			
			</ul>			
			<div class="btn">SAY HAY!</div>
		</div>
	</div>
	<!-- End join the team Heading-->
	
	<%= image_tag "21-content_footer_1.png", class: "parallax-content_footer" %>
</section>
<!--end of skill section-->
