		<!-- end of work filter option -->
		<ul id="portfolio-grid" class="portfolio-row">
			<!-- individual work thumbnail -->
			<li class="project text-center web-design ">
				<section class="portfolio-item">
					<div class="project-img-holder">
						<%= image_tag "07-work.jpg", alt: "project image" %>
						<div class="arrow-holder"><div class="arrow-up"></div></div>
					</div>
					<!-- work detail file name  -->
					<div class="project-title">
						<h5><a data-project-file="project1.html" href="#">letterpress cards</a></h5>
					</div>
				</section>
			</li>
			<!-- individual work thumbnail -->
			<li class="project text-center ui-design ">
				<section class="portfolio-item">
					<div class="project-img-holder">
						<%= image_tag "08-work.jpg", alt: "project image" %>
						<div class="arrow-holder"><div class="arrow-up"></div></div>
					</div>
					<!-- work detail file name  -->
					<div class="project-title">
						<h5><a data-project-file="project1.html" href="#">vintage wallpaper</a></h5>
					</div>
				</section>
			</li>
			<!-- individual work thumbnail -->
			<li class="project text-center branding ">
				<section class="portfolio-item">
					<div class="project-img-holder">
						<%= image_tag "09-work.jpg", alt: "project image" %>
						<div class="arrow-holder"><div class="arrow-up"></div></div>
					</div>
					<!-- work detail file name  -->
					<div class="project-title">
						<h5><a href="#" data-project-file="project1.html">surface ui kit</a></h5>						
					</div>
				</section>
			</li>
			<!-- individual work thumbnail -->
			<li class="project text-center ui-design ">
				<section class="portfolio-item">
					<div class="project-img-holder">
						<%= image_tag "10-work.jpg", alt: "project image" %>
						<div class="arrow-holder"><div class="arrow-up"></div></div>
					</div>
					<!-- work detail file name  -->
					<div class="project-title">
						<h5><a href="#" data-project-file="project1.html">flat apple earpods</a></h5>						
					</div>
				</section>
			</li>
			<!-- individual work thumbnail -->
			<li class="project text-center web-design ">
				<section class="portfolio-item">
					<div class="project-img-holder">
						<%= image_tag "11-work.jpg", alt: "project image" %>
						<div class="arrow-holder"><div class="arrow-up"></div></div>
					</div>
					<!-- work detail file name  -->
					<div class="project-title">
						<h5><a href="#" data-project-file="project1.html">sailing talks</a></h5>						
					</div>
				</section>
			</li>
			<!-- individual work thumbnail -->
			<li class="project text-center branding ">
				<section class="portfolio-item">
					<div class="project-img-holder">
						<%= image_tag "12-work.jpg", alt: "project image" %>
						<div class="arrow-holder"><div class="arrow-up"></div></div>
					</div>
					<!-- work detail file name  -->
					<div class="project-title">
						<h5><a href="#" data-project-file="project1.html">add-one</a></h5>						
					</div>
				</section>
			</li>
			<!-- individual work thumbnail -->
			<li class="project text-center ui-design ">
				<section class="portfolio-item">
					<div class="project-img-holder">
						<%= image_tag "13-work.jpg", alt: "project image" %>
						<div class="arrow-holder"><div class="arrow-up"></div></div>
					</div>
					<!-- work detail file name  -->
					<div class="project-title">
						<h5><a href="#" data-project-file="project1.html">icon kit i1.0</a></h5>						
					</div>
				</section>
			</li>
			<!-- individual work thumbnail -->
			<li class="project text-center branding ">
				<section class="portfolio-item">
					<div class="project-img-holder">
						<%= image_tag "14-work.jpg", alt: "project image" %>
						<div class="arrow-holder"><div class="arrow-up"></div></div>
					</div>
					<!-- work detail file name  -->
					<div class="project-title">
						<h5><a href="#" data-project-file="project1.html">letterpress cards</a></h5>						
					</div>
				</section>
			</li>
		</ul>
	</div>
	<!-- end of work section fullscreen grid -->
	
	<!-- ajax work detail loading  -->
	<div id="ajax-container" class="closed-container"></div><!--important: do not remove-->
	<!-- end of ajax work detail loading  -->
