<h2>Project View</h2>
<ul>
  <li><%= @project.name  %></li>
  <li><%= @project.technologies_used  %></li>
</ul>
    <p id="comments"><b>Comments:</b>
     <%= render @project.comments %>
     <% if policy(@project.comments).create? %>
       <%= link_to 'Add Comment', new_project_comment_path(@project), id: "add_comment", remote: true  %>
     <% end %>
  | <% if policy(@project).update? %>
  <%= link_to 'Edit project', edit_project_path(@project), id: "edit_comment"  %>
  <% end  %>
    <%= link_to 'Back', @project %>
<%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' }  %>
