<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class=" js no-touch svg inlinesvg svgclippaths no-ie8compat csstransforms no-csstransforms3d csstransitions" lang="en"><!--<![endif]-->
<head>
<title><%= title  %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%# <%= javascript_tag "$(document).foundation();"  %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'  %>
  <%= stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic"  %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport", content="<%= meta_viewport  %>"/>
  <meta name="description", content="<%= meta_description  %>"/>
  <meta name="keywords", content="<%= meta_keywords  %>"/>
  <meta name="author", content="<%= meta_author  %>"/>
</head>
<body>
  <nav>
    <div id="navigation" class="sticky-nav">
      <div class="row">
        <div class="large-2 columns">
          <a href="#"><h5 class="primary-text-color">gringo.io</h5></a>
        </div>
        <div id="mobile-toggle" class="right"><i class="fa fa-th-list"></i></div>
        <div class="large-10 columns">
          <ul id="menu">
            <li><a class="smooth-scroll" href="#home-scroll"><h6>Home</h6></a></li>
            <li><a class="smooth-scroll" href="#about-scroll"><h6>About Me</h6></a></li>
            <li><a class="smooth-scroll" href="#skill-scroll"><h6>My Skills</h6></a></li>
            <li><a class="smooth-scroll" href="#services-scroll"><h6>Services</h6></a></li>
            <li><a class="smooth-scroll" href="#blog-scroll"><h6>Thoughts</h6></a></li>
            <li><a class="smooth-scroll" href="#contact-scroll"><h6>Contact</h6></a></li>
            <li><a class="smooth-scroll" href="#services-scroll"><h6>Blog</h6></a></li>
          </ul>
        </div>
      </div>
    </div>
 </nav>
 <% flashes = {notice: 'success', alert: 'standard', error: 'alert', secondary: 'info'} %>
 <% flashes.each do |key, value| %>
     <% if flash[key] %>
       <%= content_tag :div, :data => { :alert => '' }, :class => "alert-box #{value} radius" do %>
         <%= flash[key] %>
       <%= link_to '&times;'.html_safe, '#', :class => 'close'%>
     <% end %>
   <% end %>
 <% end %>

  <%= yield %>
</body>
</html>
